[Unit]

Description= scrip de registro
After=network.target

[Service]
Type=simple
ExecStart=/home/axelgomez/Documentos/Scrpts/temporizador.sh

[Install]
WantedBy=multi-user.target

